.texto{text-align: center;
    font-size: 20px;
    color:black
}
#titulo{text-align: center;
    font-size: 30px;
    color: rgb(0, 153, 255);
}
.texto{
    background-image:linear-Gradient(to top,rgba(12, 8, 11, 0),rgba(0, 89, 255, 0.767));
    color:black;
}
.titulo{
    background-color: linear-gradient(#577cc2, #4e56a5);
    color: white;
}
