.texto{text-align: center;
    font-size: 20px;
    color:rgb(0, 0, 0)
}
#titulo{text-align:center;
    font-size:30px;
    color: rgba(92, 95, 97, 0.705);
}
.texto{
    background-image:linear-Gradient(to top,rgba(12, 8, 11, 0),rgba(43, 37, 40, 0.767));
    color:rgb(0, 0, 0), 0, 0);
}
.titulo{
    background-color: linear-gradient(#000000, #000000);
    color: rgb(0, 0, 0);
}
